<!-- // <% include partials/header %>

// DON"T THINK I"M USING THIS PAGE

<h1><%= post.title%></h1>

<p><%= post.description%></p>


// <!-- put grab it! button here -->
		<!-- <form action="/posts/<%= post.id %>/<%= user.id %> method="GET">
			 <input type="submit" value="Grab It!">
		</form>
 -->
//   <!-- return to home, to all posts -->
  	
			<!-- <a href="/home">All Posts</a>



			<% include partials/footer.ejs%> --> -->